<h1>Danh sách người dùng</h1>

<div class="mb-3"> 
  <a href="/users/add" class="btn btn-primary">Thêm người dùng</a>
</div>
<form action="">
  <div class="row">
    <div class="col-3">
      <select name="status" class="form-control">
        <option value="all">Tất cả</option>
        <option value="active" <%= status === 'active' ? 'selected' : '' %>>Kích hoạt</option>
        <option value="inactive" <%= status === 'inactive' ? 'selected' : '' %>>Không kích hoạt</option>
      </select>
    </div>

    <div class="col-7">
      <input type="search" class="form-control" placeholder="Từ khóa cần tìm..." name="keyword"  value="<%=  keyword %>" />
      
    </div>
    <div class="col-2 d-grid">
      <button class="btn btn-primary">Tìm kiếm</button>
    </div>
  </div>
  
  
</form>
<% if (msg.length) { %>
    <div class="alert alert-success mt-3"><%= msg %> </div>
<% } %>
  
 
<table class="table table-bordered mt-3">
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Time</th>
    <th width="5%">Sua</th>
    <th>Xoa</th>
  </tr>

  <% users.forEach(({id,name,email,status,created_at:createdAt} , index) => { %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= name %></td>
    <td><%= email %></td>
    <td><%= status %></td>
    <td><%= moment(createdAt).format('DD/MM/YYYY') %></td>
    <td><a href="/users/edit/<%= id %>" class="btn btn-warning">Sửa</a></td>
    <td>
      <form action="/users/delete/<%= id %>" method="post" onsubmit="return confirm('Bạn có chắc chắn?')">
        <button class="btn btn-danger">Xóa</button>
      </form>
      </td>
  </tr>
  <% }) %>
</table>
