<h1>Sua nguoi dung</h1>
<form action="" method="post">
  <div class="mb-3">
    <label for="name">Ten</label>
    <input type="text" class="form-control" name="name" placeholder="Ten..." value="<%= user.name %>"/>
  </div>
  <div class="mb-3">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      name="email"
      placeholder="email..."
      value="<%= user.email %>"
    />
  </div>
  <!-- <div class="mb-3">
    <label for="password">Mat Khau</label>
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="password..."
    />
  </div> -->
  <div class="mb-3">
    <label for="status">Trang thai</label>
    <select name="status">
      <option value="0" <%= !user.status ? "selected" : "" %> >Chua kich hoat</option>
      <option value="1" <%= !user.status ? "selected" : "" %> >Kich hoat</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="status">Khóa học</label>
    <% courses.forEach(course => { %>
    <label for="" class="mb-3 d-block">
      <input type="checkbox" name="courses" value="<%= course.id %>" <%= courseUtils.isCourse(user,course.id) ? "checked" : "" %> /> <%=
      course.name %>
    </label>
    <% }) %>
  </div>
  <button class="btn btn-primary">Lưu</button>
  <a href="#" class="btn btn-danger">Hủy </a>
</form>
